* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
}

.sidebar {
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    background-color: lightblue;
    gap: 4em;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: aquamarine;
}

.info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: azure;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(1fr, 3);
    background-color: bisque;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects h1 {
    display: block;
    grid-column: 1 / 3;
}

.news {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
